.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: #24252a;
  color: white;
}
.name {
  color: snow;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.nav-links a {
  text-decoration: none;
  color: snow;
  letter-spacing: 3px;
  font-weight: bold;
}

.nav-links a:hover {
  color: #0088a9;
}

.nav-links li {
  list-style: none;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: snow;
  margin: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .App {
    overflow-x: hidden;
    position: fixed;
  }
  .nav-links {
    overflow-x: hidden;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: #24252a;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  .burger {
    display: block;
    margin: 10px;
  }
  .first-content {
    display: flex;
  }
  .image-style {
    align-self: center;
  }
  .text-content {
    color: white;
    margin: 18px;
    display: flex;
    margin: 10px;
  }
}

.nav-active {
  overflow-x: hidden;
  position: absolute;
  right: 0px;
  height: 92vh;
  top: 8vh;
  background: #24252a;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: space-evenly;
  transform: translateX(0%);
  transition: 0.5s ease-out;
}

.nav-active a {
  text-decoration: none;
  color: snow;
  letter-spacing: 3px;
  font-weight: bold;
}

.nav-active li {
  list-style: none;
}
.first-content {
  display: flex;
  height: 100vh;
  background: #24252a;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.image-style {
  width: 100%;
  align-self: center;
}
.imgStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  background-color: #24252a;
  color: #fff;
  margin: 0 15px;
  font-size: 4em;
}
.chowzb:hover:enabled,
.chowzb:focus:enabled {
  color: #fff;
  background-color: #b8b8b8 !important;
  box-shadow: 0 0 2px 0 #333;
}

.chowzb {
  color: #fff;
  background-color: #d8d8f5 !important;
  box-shadow: 0 0 2px 0 #333;
}

.brcpxa {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  border: none;
  margin: 5px;
  background-color: #333;
  font-size: 1.3em;
  content: '';
  height: 10px;
  width: 10px;
  box-shadow: 0 0 1px 3px snow !important;
  border-radius: 50%;
  outline: none;
}
.brcpxa:hover {
  cursor: pointer;
  box-shadow: 0 0 1px 3px snow !important;
}
.ikyGAt:hover {
  color: snow;
}
.text-content {
  background: #24252a;
  color: snow;

  /* grid-area: text-content;
  color: white;
  align-self: center;
  margin: 100px; */
}

.navLinks {
  width: 80%;
  display: grid;
  align-items: center;
  color: snow;
  align-self: center;
  grid-area: navLinks;
}

.linkStyle {
  list-style: none;
}

.linkStyle li {
  display: inline-block;
  padding: 0px 20px;
}

.linkStyle a {
  transition: all 0.3s ease 0s;
}

.linkStyle a:hover {
  transition: all 0.3s ease 0s;
  color: #0088a9;
}

.linkStyle li a {
  color: white;
  text-decoration: none;
}

.video-image {
  max-width: 200px;
  max-height: 250px;
}
.videos-list {
  display: flex;
}
.video-title {
  color: #24252a;
}

.ui-sort {
  display: flex;
}
.video-list {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background: #24252a; */
}

.video-item {
  margin: 15px;
}
.button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.button span {
  color: white;
}
.button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
@media only screen and (max-width: 550px) {
  .nav {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.5fr;
    height: 1%;
    grid-template-areas:
      'name'
      'linkStyle';
  }
  .linkStyle {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 44px;
  }

  .button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin: 20px;
    margin-left: 63px;
  }
  .button:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
}
